<!doctype html>
<html ng-app="appointmentApp">
  <head>
    <title>MEAN Assistant</title>
      <!--*************************** Styles ******************************* -->
      <!-- CSS custom -->
      <link rel="stylesheet" href="/CSS/styles.css" media="screen" title="no title" charset="utf-8">
      <!-- CSS CDNs -->
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
      <link href="https://cdn.rawgit.com/zhaber/datetimepicker/master/datetimepicker.css" type="text/css" rel="stylesheet">

      <!--**************************** Scripts ***************************** -->
      <!-- JS CDNs -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js" charset="utf-8"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.js" charset="utf-8"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-animate.js" charset="utf-8"></script>
      <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>


      <!-- JS custom -->
      <script src="/js/controllers/api/appointments_controller.js" charset="utf-8"></script>
      <script src="/js/datetimepicker.js"></script>
      <script src="/js/app.js" charset="utf-8"></script>
  </head>
  <body>

     <!--
      ==========================================================================
      **************************  PROFILE VIEW  ********************************
      ==========================================================================
      -->


      <section ng-controller="AppointmentsController" class="container">
        <!-- header -->
        <div class="page-header text-center" id="user-welcome">
          <h1><span class="fa fa-user"></span> Welcome  <%= user.local.email %><br> </h1>

          <a href="/logout" class="btn btn-warning btn-sm">Logout</a>
        </div>



        <!--
         =====================================================================================
         *************************************  FORM   ***************************************
         =====================================================================================
         -->
          <div class="well">
            <form ng-submit="createAppointment()" class="form-horizontal">
              <!-- title  -->
              <div class="form-group">
                <label for="appointment-title" class="col-sm-2 control-label">Appointment Title/Type</label>
                <div class="col-sm-10">
                  <input ng-model="newAppointment.type_name" type="text" class="form-control" id="appointment-title" placeholder="New Appointment">
                </div>
              </div>
              <!-- location -->
              <div class="form-group">
                <label for="appointment-location" class="col-sm-2 control-label">Location</label>
                <div class="col-sm-10">
                  <input ng-model="newAppointment.location" type="text" class="form-control" id="appointment-location" placeholder="Address, City, State ">
                </div>
              </div>
              <!-- description -->
              <div class="form-group ">
                <label class= "col-sm-2 control-label"  for="description">Description</label>
                <div class="col-sm-10">
                  <textarea ng-model="newAppointment.description" class="form-control" rows="3" id="appointment-description"></textarea>
                </div>
              </div>
              <!-- date and time-->
              <div class="row">
                <div class="form-group">
              <div ng-controller="DateTimePickerDemoCtrl">  <!-- DATETIMEPICKER CONTROLLER -->
                    <label class="col-sm-2 control-label"for="datetimepicker" id="dtp-label">Date</label>

                  <div id="datetimepicker" class="col-sm-4 well">
                    <datetimepicker
                      min-date="minDate"
                      hour-step="hourStep"
                      minute-step="minuteStep" ng-model="newAppointment.datetime" show-meridian="showMeridian"
                      date-format="dd-MMM-yyyy" date-options="dateOptions"
                      date-disabled="disabled(date, mode)"
                      datepicker-append-to-body="false"
                      readonly-date="false"
                      hidden-time="false"
                      hidden-date="false"
                      name="datetimepicker"
                      show-spinners="true"
                      readonly-time="false"
                      date-opened="dateOpened"
                      placeholder='Choose Date'>
                      <!-- Use date-ng-click="open($event, opened)" to override date ng-click -->
                    </datetimepicker>
                  </div>

                </div>
                <div class="col-sm-5">
                  <button type="submit" class="btn btn-lg btn-success" id="submit-btn">Submit</button>
                </div>
              </div>
                </div>
                <!-- <pre>Selected time and date is: <em>{{date | date:'shortTime' }}, {{date | date:'fullDate' }}</em></pre> -->
              </form>
            </div>

        <!--
         =====================================================================================
         ********************************** END FORM   ***************************************
         =====================================================================================
         -->

          <div class="container">

            <div class="row">
              <div class="col-md-12">
                <h2>Here's what your day is lookin' like...</h2>
              </div>
            </div>
          <div ng-repeat="appointment in appointments" class="well">

            <div class="row">

              <ul>
                <li>
                  <p><strong>{{ appointment.type_name }}</strong></p>
                  <p> {{ appointment.datetime | date:'medium' }} </p>
                  <p>
                    {{ appointment.location }}
                  </p>
                  <p>
                    {{ appointment.description }}
                  </p>
                  <button ng-click="deleteAppointment( $index )" class="btn btn-danger" id="btn-delete"><i class="fa fa-trash-o"></i></button>

                </li>
              </ul>

            </div>
          </div>

      </div><!-- end appointments controller -->


</section>
  </body>
</html>




<!-- <div class="row"> -->

    <!-- LOCAL INFORMATION -->
    <!-- <div class="col-sm-6">
        <div class="well">
            <h3><span class="fa fa-user"></span> Local</h3>

                <p>
                    <strong>id</strong>: <%= user._id %><br>
                    <strong>email</strong>: <%= user.local.email %><br>
                    <strong>password</strong>: <%= user.local.password %>
                </p>

        </div>
    </div>

</div> -->
